
  <!-- card section 1 -->
  <div class=" d-flex flex-row mb-3 justify-content-lg-center ">
    <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
      <img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0 " alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
      </div>
    </div>

    <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
      <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
      </div>
    </div>
    <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
      <img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
      </div>
    </div>
  </div>
  <!-- card section 2 -->
  <div class=" d-flex flex-row mb-3 justify-content-lg-center">
    <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
      <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
      </div>
    </div>
    <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
      <img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
      </div>
    </div>
    <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
      <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
      <div class="card-body">
        <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
      </div>
    </div>
  </div>

  <!--galery of images-->

