<div class="container marketing ">
    <!-- START THE FEATURETTES -->
    <br>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-md-6 col-sm-12 col-lg-4">
			<img src="{{asset('logos/2014-05-20.jpg')}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes">
		</div>
		<div class="col-lg-8">
			<h1 class="display-5 fw-bold lh-1 mb-3">À propos du parcours informatique</h1>
			<p class="lead">
				L’objectif du parcours Informatique de la faculté des sciences et Techniques de 
				l’Université Marien NGOUABI est de fournir une solide formation générale en informatique. 
				La spécialisation en informatique se fait progressivement dans le parcours tout en 
				conservant en permanence une place aux enseignements des compétences transversales. La 
				formation se conclut par un stage en entreprise de 3 mois.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href=" {{ path('app_parcours_presentation') }} " class="btn specifical-bg-3 text-light btn-lg px-4 me-md-2">
					En savoir plus
				</a>
			</div>
		</div>
	</div>

</div>

<div class="container marketing mb-5">
    <!-- START THE FEATURETTES -->
    <br>
    <div class="row align-items-center g-5 py-5">
		<div class="">
			<h3 class="my-3">Partenaires</h3>
			<div class="d-flex">
				<img src="{{ asset('img/logo-auf.png') }}" alt="" height="50px" class="me-2">
				<img src="{{ asset('img/logo-fasuce.png') }}" alt="" height="50px" class="me-2">
				<img src="{{ asset('img/logo-unesco.png') }}" alt="" height="50px" class="me-2">
				<img src="{{ asset('img/logo-cames.svg') }}" alt="" height="50px" class="me-2">
				<img src="{{ asset('img/Logo_UMNG.png') }}" alt="" height="50px" class="me-2">
			</div>
		</div>
	</div>

</div>