<div class="container marketing ">
    <!-- START THE FEATURETTES -->
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5" data-sal="fade" style="--sal-duration: 2.5s; --sal-delay: 0.5s;">
		<div class="col-md-6 col-sm-12 col-lg-4" data-sal="slide-left">
			<img src="{{asset('logos/2014-05-20.jpg')}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes">
		</div>
		<div class="col-lg-8" data-sal="slide-right">
			<h2 class="display-5 fw-bold lh-1 mb-3">À propos du parcours</h2>
        	<div class="text-subline mb-3"></div>

			<p class="lead">
				L’objectif du parcours Informatique de la faculté des sciences et Techniques de 
				l’Université Marien NGOUABI est de fournir une solide formation générale en informatique. 
				La spécialisation en informatique se fait progressivement dans le parcours tout en 
				conservant en permanence une place aux enseignements des compétences transversales. La 
				formation se conclut par un stage en entreprise de 3 mois.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a href=" {{ path('app_parcours_presentation') }} " class="btn rounded-pill shadow specifical-bg-3 text-light btn-lg px-4 me-md-2">
					En savoir plus
				</a>
			</div>
		</div>
	</div>

</div>

<div class="container marketing mb-5">
    <!-- START THE FEATURETTES -->
    <br>
    <div class="row align-items-center g-5 py-5">
		<div class="">

			<h2 class="display-6 fw-bold lh-1 mb-3">Partenaires</h2>
        	<div class="text-subline mb-3"></div>

			<div class="swiper owl-carousel" data-sal="slide-up" style="--sal-duration: 2.5s; --sal-delay: 0.5s;">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="card">
							<img src="{{ asset('img/logo-auf.png') }}" height="60px">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="card">
							<img src="{{ asset('img/logo-fasuce.png') }}" height="60px">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="card">
							<img src="{{ asset('img/logo-unesco.png') }}" height="60px">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="card">
							<img src="{{ asset('img/logo-auf.png') }}" height="60px">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="card">
							<img src="{{ asset('img/logo-cames.svg') }}" height="60px">
						</div>
					</div>
					<div class="swiper-slide">
						<div class="card">
							<img src="{{ asset('img/Logo_UMNG.png') }}" height="60px">
						</div>
					</div>
				</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
			
		</div>
	</div>

</div>