<!-- news section -->
<div class="container mb-5">
  <div class="row g-4 mb-3">
    <h2 class="text-center display-6 fw-bold lh-1 mb-3" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
      Actualités récentes
    </h2>
    <div class="content-devider">
      <hr class="content-devider-line" style="max-width:100%;width:50px;">
    </div>

    {% for article in articles %}
      <div class="col-sm-12 col-md-6 col-lg-4" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
        <div class="card shadow-sm rounded-0 border-0">
          {% if article.featuredImage %}
            <img src="{{
              asset(
                'uploads/images/news/' ~ article.featuredImage.filename
              )
              }}"
              class="card-img-top rounded-0"
              alt="..." />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{
                path(
                  'app_news_show',
                  {
                    slug: article.slug
                  }
                )
                }}"
                class="text-decoration-none item-title">
                {{ article.title }}
              </a>
            </h5>
            <p class="card-text">
              {{ article.content|striptags|u.truncate(150, '...', false)|raw }}
            </p>
            <i class="fa-regular fa-calendar-days"></i><em>3 days ago</em>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="text-center mt-3">
      <a href="{{ path('app_news') }}" class="btn specifical-bg-1 rounded-pill text-white" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
        Toutes les actualités <i class="ms-3 fa-solid fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>

<div class="specifical-bg-3-testimonial">
	<div class="container">
		<div class="row flex-lg-row-reverse align-items-center g-0">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src=" {{asset('img/cisco_netacad_partner.jpg')}}" class="d-block mx-lg-auto img-fluid" alt="Cisco netacad" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3 text-white">Academie locale CISCO Netacad</h1>
				<p class="lead text-light">
          La Cisco Networking Academy transforme la vie des étudiants, des enseignants et de communautés entières grâce au 
          pouvoir de la technologie, de l'éducation et des opportunités de carrière. Accessible à tous, où que vous soyez. <br>
          Nous sommes là pour vous aider à enseigner et à apprendre à distance.
        </p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<a class="btn btn-lg px-4 me-md-2 rounded-pill specifical-bg-1 text-light">En apprendre plus</a>
				</div>
			</div>
		</div>
	</div>
</div>