

<!-- news section -->
<div class="container mb-5">
	<div class="row g-4 mb-3">
		<h2 class="text-center">Actualités récentes</h2>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card shadow-sm rounded-0 border-0">
				<img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0" alt="...">
				<div class="card-body">
					<h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card shadow-sm rounded-0 border-0">
				<img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
				<div class="card-body">
					<h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card shadow-sm rounded-0 border-0">
				<img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0" alt="...">
				<div class="card-body">
					<h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card shadow-sm rounded-0 border-0">
				<img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
				<div class="card-body">
					<h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card shadow-sm rounded-0 border-0">
				<img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0" alt="...">
				<div class="card-body">
					<h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="card shadow-sm rounded-0 border-0">
				<img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
				<div class="card-body">
					<h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
				</div>
			</div>
		</div>
		<div class="text-center mt-3">
			<a href="{{path('app_news')}}" class="btn btn-danger rounded-pill">Toutes les actualités <i class="ms-3 fa-solid fa-arrow-right"></i></a>
		</div>
	</div>
</div>