<!-- news section -->
<div class="container mb-5">
  <div class="row g-4 mb-3">
    <h2 class="text-center display-6 fw-bold lh-1 mb-3" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
      Actualités récentes
    </h2>
    <div class="content-devider">
      <hr class="content-devider-line" style="max-width:100%;width:50px;">
    </div>

    {% for article in articles %}
      <div class="col-sm-12 col-md-6 col-lg-4" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
        <div class="card shadow-sm rounded-0 border-0">
          {% if article.featuredImage %}
            <img src="{{
              asset(
                'uploads/images/news/' ~ article.featuredImage.filename
              )
              }}"
              class="card-img-top rounded-0"
              alt="..." />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{
                path(
                  'app_news_show',
                  {
                    slug: article.slug
                  }
                )
                }}"
                class="text-decoration-none item-title">
                {{ article.title }}
              </a>
            </h5>
            <p class="card-text">
              {{ article.content|striptags|u.truncate(150, '...', false)|raw }}
            </p>
            <i class="fa-regular fa-calendar-days"></i><em>3 days ago</em>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="text-center mt-3">
      <a href="{{ path('app_news') }}" class="btn specifical-bg-1 rounded-pill text-white" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
        Toutes les actualités <i class="ms-3 fa-solid fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>


<div class="bg-primary">
	<div class="container py-5">
		<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
			<div class="col-10 col-sm-8 col-lg-6">
				<img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
			</div>
			<div class="col-lg-6">
				<h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
				<p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
				<div class="d-grid gap-2 d-md-flex justify-content-md-start">
					<button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
					<button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
				</div>
			</div>
		</div>
	</div>
</div>