<!-- news section -->
<div class="container mb-5">
  <div class="row g-4 mb-3">
    <h2 class="text-center display-6 fw-bold lh-1 mb-3">
      Actualités récentes
    </h2>
    <div class="content-devider">
      <hr class="content-devider-line" style="max-width:100%;width:50px;">
    </div>

    {% for article in articles %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card shadow-sm rounded-0 border-0">
          {% if article.featuredImage %}
            <img src="{{
              asset(
                'uploads/images/news/' ~ article.featuredImage.filename
              )
              }}"
              class="card-img-top rounded-0"
              alt="..." />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{
                path(
                  'app_news_show',
                  {
                    slug: article.slug
                  }
                )
                }}"
                class="text-decoration-none item-title">
                {{ article.title }}
              </a>
            </h5>
            <p class="card-text">
              {{ article.content|striptags|u.truncate(150, '...', false)|raw }}
            </p>
            <i class="fa-regular fa-calendar-days"></i><em>3 days ago</em>
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="text-center mt-3">
      <a href="{{ path('app_news') }}" class="btn specifical-bg-1 rounded-pill text-white">
        Toutes les actualités <i class="ms-3 fa-solid fa-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
