{% form_theme form 'bootstrap_5_layout.html.twig' %}

<!--link href="../assets/styles/preregistration_form.css" rel="stylesheet"> 
<script src="../assets/form_steps.js" type="text/javascript" defer></script>
<script src="../assets/image_uploaded.js" type="text/javascript" defer></script-->

<style>

:root {
    --primary-color: #2f0f55;
}   
/* Progressbar */
.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
}
      
.progressbar::before,
.progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
 }
      
.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}
      
.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
      
      .progress-step::before {
        counter-increment: step;
        content: counter(step);
      }
      
      .progress-step::after {
        content: attr(data-title);
        position: absolute;
        top: calc(100% + 0.5rem);
        font-size: 0.85rem;
        color: #666;
      }
      
      .progress-step-active {
        background-color: var(--primary-color);
        color: #f3f3f3;
      }
      
      /* Form */
      .form {
        width: clamp(320px, 30%, 430px);
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 0.35rem;
        padding: 1.5rem;
      }
      
      .form-step {
        display: none;
        transform-origin: top;
        animation: animate 0.5s;
      }
      
      .form-step-active {
        display: block;
      }
      
      .inputs-group {
        margin: 2rem 0;
      }
      
      @keyframes animate {
        from {
          transform: scale(1, 0);
          opacity: 0;
        }
        to {
          transform: scale(1, 1);
          opacity: 1;
        }
      }
      
      /* Button */
      .btns-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
      
      .btn {
        padding: 0.75rem;
        display: block;
        text-decoration: none;
        background-color: var(--primary-color);
        color: #f3f3f3;
        text-align: center;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: 0.3s;
      }
      .btn:hover {
        box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
      } 

</style>
<div class="container">

{{ form_start(form) }}

<div class="progressbar">
    <div class="progress" id="progress"></div>
    <div
      class="progress-step progress-step-active"
      data-title="Informations personnelles"
    ></div>
    <div class="progress-step" data-title="Adresse"></div>
    <div class="progress-step" data-title="Choix de formation"></div>
    <div class="progress-step" data-title="Récapitulatif"></div>
</div>
  <!-- Steps -->
<div class="row justify-content-evenly">

    <div class="">
        <div class="form-step form-step-active">
            <div class="inputs-group row gx-3">
                <div class="col-md-12 col-lg-4">
                    <div class="d-flex justify-content-center py-3">
                        <img src="{{asset('img/user-128.png')}}" id="file-ip-1-preview" width="220px" height="220px" class="bg-light border border-0 rounded-3">
                    </div> 
                </div>

                <div class="col-md-6 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.student.pictureFile) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.student.name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.student.firstName) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.student.birthDay) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.student.birthPlace) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.student.civility) }}
                        </div>
                        
                        {# <div class="col-md-6">
                            {{ form_row(form.student.address) }}
                        </div> #}

                    </div>
                </div>
            </div>

            <div class=" w-20 float-end">
                <a href="#" class="btn btn-next ml-auto firstNext">Suivant</a>
            </div>
        </div>
    </div>
    <div class="justify-content-evenly">
        <div class="">
            <div class="form-step">
                <div class="inputs-group row gx-3">
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.student.telephone) }}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.student.email) }}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.student.address.city) }}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.student.address.country) }}
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="row">
                             <div class="col-3">
                                {{ form_row(form.student.address.street_number) }} 
                            </div>
                            <div class="col-9">
                                {{ form_row(form.student.address.street_name) }} 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        {{ form_row(form.student.address.quater_name) }}
                    </div>
                </div>

                <div class="btns-group w-20 float-end">
                    <a href="#" class="btn btn-prev">Precedent</a>
                    <a href="#" class="btn btn-next secondNext">Suivant</a>
                </div>
            </div>
        </div>
    
    </div>
    <div class="justify-content-evenly">
        <div class="">
            <div class="form-step">
                <div class="inputs-group row">
                    <div class="col-12">
                        {{ form_row(form.speciality) }}
                    </div>
                    <div class="col-12">
                        <ul class="documents list-unstyled", 
                            data-index="{{ form.folder.documents|length > 0 ? form.folder.documents|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.folder.documents.vars.prototype)|e('html_attr') }}"
                        >
                        {{ form_row(form.folder.documents) }}
                        
                        </ul>
                        <button type="button" class="btn shadow add_item_link" data-collection-holder-class="documents">Add a document</button>
            
                    </div>
                </div>
            <div class="inputs-group">
            </div>
                <div class="btns-group w-20 float-end">
                    <a href="#" class="btn btn-prev">Precedent</a>
                    <a href="#" class="btn btn-next" id="lastNext">Suivant</a>
                </div>
            </div>
        </div>
    </div>
<div class="row d-flex justify-content-evenly shadow mb-3">
    <div class="col-md-12">
        <div class="form-step">
          <div class="" id="recap">
          </div>
          <div class="btns-group w-20 float-end p-2">
            <a href="#" class="btn btn-prev lprev">Precedent</a>
            <button class="btn specifical-bg-3 text-white submitting">{{ button_label|default('Soumettre') }}</button> 
          </div>
        </div>
        
    </div>

</div>

{{ form_end(form) }}
</div>
<script src=""></script>
<script>


document.addEventListener("DOMContentLoaded", function(){

    const addTagFormDeleteLink = (item) => {
        const removeFormButton = document.createElement('button');
        removeFormButton.innerText = 'Delete this tag';

        item.append(removeFormButton);

        removeFormButton.addEventListener('click', (e) => {
            e.preventDefault();
            // remove the li for the tag form
            item.remove();
        });
    }

    const addFormToCollection = (e) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const item = document.createElement('li');
        item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g,collectionHolder.dataset.index);

        collectionHolder.appendChild(item);
        addTagFormDeleteLink(item);

        collectionHolder.dataset.index++;
    };

    document.querySelectorAll('ul.documents li').forEach((document) => {
        addTagFormDeleteLink(document)
    })

    document.querySelectorAll('.add_item_link')
    .forEach(btn => {
        btn.addEventListener("click", addFormToCollection)
    });
})

const prevBtns = document.querySelectorAll(".btn-prev");
const nextBtns = document.querySelectorAll(".btn-next");
const progress = document.getElementById("progress");
const formSteps = document.querySelectorAll(".form-step");
const progressSteps = document.querySelectorAll(".progress-step");
const secondNext = document.querySelector(".secondNext");
let formStepsNum = 0;
nextBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
        formStepsNum++;
        updateFormSteps();
        updateProgressbar();
  
});
});
    prevBtns.forEach((btn) => {
    btn.addEventListener("click", () => {
        formStepsNum--;
        updateFormSteps();
        updateProgressbar();
    });
    });
    function updateFormSteps() {
    formSteps.forEach((formStep) => {
        formStep.classList.contains("form-step-active") &&
        formStep.classList.remove("form-step-active");
    });
    formSteps[formStepsNum].classList.add("form-step-active");
    }
    function updateProgressbar() {
    progressSteps.forEach((progressStep, idx) => {
        if (idx < formStepsNum + 1) {
        progressStep.classList.add("progress-step-active");
        } else {
        progressStep.classList.remove("progress-step-active");
        }
    });
    const progressActive = document.querySelectorAll(".progress-step-active");
    progress.style.width =
        ((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
    }
    function showPreview(event){
      if(event.target.files.length > 0){
        var src = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("file-ip-1-preview");
        preview.src = src;
        preview.style.display = "block";
      }
    }
</script-->
