{% form_theme form 'bootstrap_5_layout.html.twig' %}

<!--link href="../assets/styles/preregistration_form.css" rel="stylesheet"> 
<script src="../assets/form_steps.js" type="text/javascript" defer></script>
<script src="../assets/image_uploaded.js" type="text/javascript" defer></script-->

{{ form_start(form) }}

<div class="progressbar">
    <div class="progress" id="progress"></div>
    <div
      class="progress-step progress-step-active"
      data-title="Identité"
    ></div>
    <div class="progress-step" data-title="Adresse"></div>
    <div class="progress-step" data-title="Formation"></div>
    <div class="progress-step" data-title="Récapitulatif"></div>
</div>
  <!-- Steps -->
<div class="row justify-content-evenly">

    <div class="">
        <div class="form-step form-step-active">
            <div class="inputs-group row gx-3">
                <div class="col-md-12 col-lg-4">
                    <div class="d-flex justify-content-center py-3">
                        <img src="{{asset('img/user-128.png')}}" id="file-ip-1-preview" width="220px" height="220px" class="bg-light border border-0 rounded-3">
                    </div> 
                    <div class="mx-lg-5">
                        {{ form_row(form.student.pictureFile) }}
                    </div>
                </div>

                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6 mb-3 mt-3">
                            {{ form_row(form.student.name) }}
                        </div>
                        <div class="col-md-6 mb-3 mt-3">
                            {{ form_row(form.student.firstName) }}
                        </div>
                        <div class="col-md-6 mb-3 mt-3">
                            {{ form_row(form.student.birthDay) }}
                        </div>
                        <div class="col-md-6 mb-3 mt-3">
                            {{ form_row(form.student.birthPlace) }}
                        </div>
                        <div class="col-md-6 mb-3 mt-2">
                            {{ form_row(form.student.civility) }}
                        </div>
                        <div class="col-md-6 mb-3 mt-2">
                            {{ form_row(form.student.nationality) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class=" w-20 float-end">
                <a href="#" class="btn specifical-bg-3 rounded-pill text-light btn-next ml-auto firstNext">Suivant</a>
            </div>
        </div>
    </div>
    <div class="justify-content-evenly">
        <div class="">
            <div class="form-step">
                <div class="inputs-group row gx-3">
                    <div class="col-lg-4 col-md-6 mb-3 mt-2">
                        <div class="row">
                             <div class="col-3">
                                {{ form_row(form.student.address.street_number) }} 
                            </div>
                            <div class="col-9">
                                {{ form_row(form.student.address.street_name) }} 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 mt-2">
                        {{ form_row(form.student.address.quater_name) }}
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 mt-2">
                        {{ form_row(form.student.address.city) }}
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 mt-2">
                        {{ form_row(form.student.address.country) }}
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 mt-2">
                        {{ form_row(form.student.telephone) }}
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3 mt-2">
                        {{ form_row(form.student.email) }}
                    </div>
                </div>

                <div class="btns-group w-20 float-end">
                    <a href="#" class="btn specifical-bg-3 rounded-pill text-light btn-prev">Precedent</a>
                    <a href="#" class="btn specifical-bg-3 rounded-pill text-light btn-next secondNext">Suivant</a>
                </div>
            </div>
        </div>
    
    </div>
    <div class="justify-content-evenly">
        <div class="">
            <div class="form-step">
                <div class="inputs-group row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                            {{ form_row(form.speciality) }}
                            </div>
                            <div class="col-6">
                            {{ form_row(form.preRegistrationType) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <ul class="documents list-unstyled", 
                            data-index="{{ form.folder.documents|length > 0 ? form.folder.documents|last.vars.name + 1 : 0 }}"
                            data-prototype="{{ form_widget(form.folder.documents.vars.prototype)|e('html_attr') }}"
                        >
                        {{ form_row(form.folder.documents) }}
                        
                        </ul>
                        <button type="button" class="btn specifical-bg-3 rounded-circle text-light shadow add_item_link" data-collection-holder-class="documents"><i class="fa fa-plus"></i></button>
            
                    </div>
                </div>
            <div class="inputs-group">
            </div>
                <div class="btns-group w-20 float-end">
                    <a href="#" class="btn specifical-bg-3 rounded-pill text-light btn-prev">Precedent</a>
                    <a href="#" class="btn specifical-bg-3 rounded-pill text-light btn-next" id="lastNext">Suivant</a>
                </div>
            </div>
        </div>
    </div>
<div class="row d-flex justify-content-evenly shadow mb-3">
    <div class="col-md-12">
        <div class="form-step">
            <div class="" id="recap">
            </div>
            <div class="">
                <div class="mb-3 border-0 shadow-sm card">
                    <div class="row card-body">
                        <h5 class="card-title mb-3 ">Pièces jointes</h5>

                        <table id="documentsRecap" class="table table-hover">         
                        </table>
                    </div>
                </div>
            </div>
          <div class="btns-group w-20 float-end p-2">
            <a href="#" class="btn specifical-bg-3 rounded-pill text-light btn-prev lprev">Precedent</a>
            <button class="btn specifical-bg-3 text-white submitting">{{ button_label|default('Soumettre') }}</button> 
          </div>
        </div>
        
    </div>

</div>

{{ form_end(form) }}


<script>
function showPreview(event){
    if(event.target.files.length > 0){
        var src = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("file-ip-1-preview");
        preview.src = src;
        preview.style.display = "block";
    }
}
</script>