{% extends 'base.html.twig' %}

{% block title %}PreRegistration index{% endblock %}

{% block body %}
    <h1>PreRegistration index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pre_registration in pre_registrations %}
            <tr>
                <td>{{ pre_registration.id }}</td>
                <td>{{ pre_registration.createdAt ? pre_registration.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ pre_registration.status }}</td>
                <td>
                    <a href="{{ path('app_pre_registration_show', {'id': pre_registration.id}) }}">show</a>
                    <a href="{{ path('app_pre_registration_edit', {'id': pre_registration.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pre_registration_new') }}">Create new</a>
{% endblock %}
