{% extends 'base.html.twig' %}

{% block title %}PreRegistration{% endblock %}

{% block body %}
    <h1>PreRegistration</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pre_registration.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ pre_registration.createdAt ? pre_registration.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ pre_registration.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pre_registration_index') }}">back to list</a>

    <a href="{{ path('app_pre_registration_edit', {'id': pre_registration.id}) }}">edit</a>

    {{ include('pre_registration/_delete_form.html.twig') }}
{% endblock %}
