{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Details de la préinscription{% endblock %}

{% block page_actions %}
<div class="">

    {% if workflow_can(pre_registration, 'to_validation_pending') %}
        <a class="btn btn-primary" type="button" 
            href="{{ path('pre_registration_change_status', {'id': pre_registration.id, 'to': 'to_validation_pending'}) }}"
        >
            Editer
        </a>                              
    {% endif %}
    {% if workflow_can(pre_registration, 'to_validation') %}
        <a class="btn btn-success" type="button" 
            href="{{ path('pre_registration_change_status', {'id': pre_registration.id, 'to': 'to_validation'}) }}"
        >
            Approuver
        </a>                              
    {% endif %}
    {% if workflow_can(pre_registration, 'to_reject') %}
        <a class="btn btn-danger" type="button" 
            href="{{ path('pre_registration_change_status', {'id': pre_registration.id, 'to': 'to_reject'}) }}"
        >
            Rejeter
        </a>                              
    {% endif %}

</div>
{% endblock %}

{% block main %}

<div class="">
    <div class="row">
        <div class="mb-3 border-0 shadow-sm card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Informations personnelles</h5>
                    </div>
                    <div class="col text-end">
                    {% if pre_registration.status !='Validée' %}
                        <a class="btn btn-primary" type="button" 
                            href="{{ea_url()
                                    .setController('App\\Controller\\Admin\\StudentCrudController')
                                    .setAction('edit')
                                    .setEntityId(pre_registration.student.id) }}"
                        >
                            Modifier
                        </a>
                    {% endif %}
                    </div>
                </div>
                <table class="table table-hover">
                    <tr >
                        <td >Nom(s) </td>
                        <td >{{ pre_registration.student.name }}</td>
                    </tr>
                    <tr >
                        <td>Prénom(s) </td>
                        <td>{{ pre_registration.student.firstName }}</td>
                    </tr>
                    <tr >
                        <td>Civilité </td>
                        <td>{{ pre_registration.student.civility }}</td>
                    </tr>
                    <tr >
                        <td>Date de naissance </td>
                        <td>{{ pre_registration.student.birthDay | date("d-m-Y") }}</td>
                    </tr>
                    <tr >
                        <td>Lieu de naissance </td>
                        <td>{{ pre_registration.student.birthPlace }}</td>
                    </tr>
                    <tr >
                        <td>Nationalité </td>
                        <td>{{ pre_registration.student.nationality |country_name('fr') }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="mb-3 border-0 shadow-sm card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Adresse et modalités contact</h5>
                    </div>
                    <div class="col text-end">
                    {% if pre_registration.status !='Validée' %}
                        <a class="btn btn-primary" type="button" 
                            href="{{ ea_url()
                                    .setController('App\\Controller\\Admin\\StudentCrudController')
                                    .setAction('edit')
                                    .setEntityId(pre_registration.student.address.id) }}"
                        >
                            Modifier
                        </a>
                    {% endif %}
                    </div>
                </div>
                <table class="table table-hover">
                    <tr >
                        <td >Adresse </td>
                        <td >{{ pre_registration.student.address }}</td>
                    </tr>
                    <tr >
                        <td>Téléphone </td>
                        <td>{{pre_registration.student.telephone}}</td>
                    </tr>
                    <tr >
                        <td>Email</td>
                        <td>{{ pre_registration.student.email }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="mb-3 border-0 shadow-sm card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Chox de formation</h5>   
                    </div>
                    <div class="col text-end">
                    {% if pre_registration.status !='Validée' %}
                        <a class="btn btn-primary" type="button" 
                            href="{{ path('app_pre_registration_edit', {'id': pre_registration.id}) }}"
                        >
                            Modifier
                        </a>
                    {% endif %}
                    </div>
                </div>
                <table class="table table-hover">
                    <tr class="">
                        <td>Cycle de formation</td>
                        <td>{{ pre_registration.speciality.formationCycle }}</td>
                    </tr> 
                    <tr class="">
                        <td>Spécialité</td>
                        <td>{{ pre_registration.speciality }}</td>
                    </tr>
                    <tr class="">
                        <td>Type de préinscription</td>
                        <td>{{ pre_registration.preRegistrationType }}</td>
                    </tr>          
                </table>
            </div>
        </div>

        <div class="mb-3 border-0 shadow-sm card">
            <div class="row card-body">
                <h5 class="card-title mb-3 ">Pièces jointes</h5>

                {# <div class="mb-4 text-center col-12 col-sm-12 col-md-6 col-lg-4">
                    <p class="card-title">{{document.label}}</p>
                    <img class="img-fluid" src="{{ document.documentName }}" alt="">
                </div>          #}

                {% for document in pre_registration.folder.documents %}
                <table class="table table-hover">
                    <tr class="">
                        <td>{{document.label}}</td>
                        <td align="end">
                            <a href="{{asset('/uploads/documents/preinscription/' ~ document.documentName)}}">Afficher</a>
                            {% if pre_registration.status !='Validée' %}
                            <a class="ms-2 text-warning" href="{{ ea_url()
                                    .setController('App\\Controller\\Admin\\DocumentCrudController')
                                    .setAction('edit')
                                    .setEntityId(document.id)
                                }}">
                                Modifier
                            </a>
                            {% endif %}
                        </td>
                    </tr> 
          
                </table>

                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
{% endblock %}