{% extends 'base.html.twig' %}

{% block title %}Alumni{% endblock %}

{% block meta %}
    <meta name="description" content="Temoignages des anciens étudiants du parcours informatiques; certains etant devenu developpeur, chef de projet, technicien réseau et autres aux seins des entreprises">
{% endblock %}

{% block body %}

{{ include('alumni/_heading.html.twig',{'sub_link':'alumni'}) }}

<div class="bg-light">
    <div class="container">
        <div class="row g-4">
            {% for alumni in alumnies %}
                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="text-center shadow p-3">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="{{asset('uploads/images/avatars/' ~ alumni.pictureName)}}"
                            class="rounded-circle shadow-1-strong" width="170" height="170" />
                        </div>
                        <h5 class="mb-3">{{alumni}}</h5>
                        <h6 class="text-primary mb-3">{{alumni.profil}}</h6>
                        <p class="">
                            <i class="fas fa-quote-left pe-2"></i> {{alumni.testimonial}}
                        </p>
                    </div>
                </div>

            {% endfor %}
            <div class="col text-color-2"> {{knp_pagination_render(alumnies)}}</div>
        </div>
    </div>
</div>

{% endblock %}
