{% extends 'base.html.twig' %}

{% block title %}Nos cycles de formation{% endblock %}

{% block meta %}
    <meta name="description" content="Licence, Master, Doctorat, Certifications">
{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'programmes academiques'}) }}

<div class="container">
	{# <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    	<div class="col-10 col-sm-8 col-lg-6" data-sal="fade" style="--sal-duration: 2s;">
			<img src=" {{asset('img/cycles_de_formation.jpg')}} " alt="" class="img-fluid">
    	</div>
    	<div class="col-lg-6" data-sal="fade" style="--sal-duration: 2s;">
			<h1 class="display-5 fw-bold lh-1 mb-3">Nos Cycles de formation</h1>
			<p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
            	<a href="{{ path('app_pre_registration_new') }}" class="btn btn-lg text-light rounded-pill specifical-bg-1 shadow">Postuler</a>
			</div>
    	</div>
    </div> #}

	<div class="py-5">
		{% if doctorat %}	
		<div class="row g-5 featurette py-5">
			<div class="col-md-7 col-lg-6 order-md-2" data-sal="slide-in" style="--sal-duration: 2s;">
				<h2 class="featurette-heading fw-bold lh-1">Nos spécialités de Doctorat</h2>
				<p class="lead">
				{{ doctorat.description ? doctorat.description : 'Acquérir des compétences professionnelles et de leadership spécialisées pour faire passer votre carrière au niveau supérieur avec un diplôme supérieur.' }}
				</p>
				<ul class="list-unstyled">
				{% if doctorat.specialities %}
					{% for speciality in doctorat.specialities %}
					<li>
						<h3><a class="text-decoration-none header-link" href="{{path('app_speciality', {'slug': speciality.slug})}}">{{speciality.label}}</a></h3>
					</li>
					{% endfor %}
					
				{% endif %}
				</ul>
			</div>
			<div class="col-md-5 col-lg-6 order-md-1" data-sal="slide-in" style="--sal-duration: 2s;">
				{% if doctorat.featuredImage %}
				<img src="{{asset('uploads/images/news/' ~ doctorat.featuredImage.filename)}}" class="img-fluid rounded"> <!-- center this image within the column -->
				{% endif %}
			</div>
		</div>
		{% endif %}

		{% if master %}
		<div class="row g-5 flex-lg-row-reverse featurette py-5">
			<div class="col-md-7 col-lg-6 order-md-2" data-sal="slide-in" style="--sal-duration: 2s;">
				<h2 class="featurette-heading fw-bold lh-1">Nos spécialités de Master</h2>
				<p class="lead">
				{{ master.description ? master.description : 'Acquérir des compétences professionnelles et de leadership spécialisées pour faire passer votre carrière au niveau supérieur avec un diplôme supérieur.' }}
				</p>
				<ul class="list-unstyled">
				{% if master.specialities %}
					{% for speciality in master.specialities %}
					<li>
						<h3><a class="text-decoration-none header-link" href="{{path('app_speciality', {'slug': speciality.slug})}}">{{speciality.label}}</a></h3>
					</li>
					{% endfor %}
					
				{% endif %}
				
			</div>
			<div class="col-md-5 col-lg-6 order-md-1" data-sal="slide-in" style="--sal-duration: 2s;">
				{% if master.featuredImage %}
				<img src="{{asset('uploads/images/news/' ~ master.featuredImage.filename)}}" class="img-fluid rounded"> <!-- center this image within the column -->
				{% endif %}
            </div>
		</div>
		{% endif %}

		{% if licence %}
		<div class="row g-5 featurette py-5">
			<div class="col-md-7 col-lg-6 order-md-2" data-sal="slide-in" style="--sal-duration: 2s;">
				<h2 class="featurette-heading fw-bold lh-1">Nos spécialités de Licence</h2>
				<p class="lead">
				{{ licence.description ? licence.description : 'Acquérir des compétences professionnelles et de leadership spécialisées pour faire passer votre carrière au niveau supérieur avec un diplôme supérieur.' }}
				</p>
				<ul class="list-unstyled">
				{% if licence.specialities %}
					{% for speciality in licence.specialities %}
					<li>
						<h3><a class="text-decoration-none header-link" href="{{path('app_speciality', {'slug': speciality.slug, 'formation_cycle_slug': licence.slug })}}">{{speciality.label}}</a></h3>
					</li>
					{% endfor %}
					
				{% endif %}
			</div>
			<div class="col-md-5 col-lg-6 order-md-1" data-sal="slide-in" style="--sal-duration: 2s;">
				{% if licence.featuredImage %}
				<img src="{{asset('uploads/images/news/' ~ licence.featuredImage.filename)}}" class="img-fluid rounded"> <!-- center this image within the column -->
				{% endif %}
            </div>
		</div>
		{% endif %}

		{% if certification %}
		<div class="row g-5 flex-lg-row-reverse featurette py-5">
			<div class="col-md-7 col-lg-6 order-md-2" data-sal="slide-in" style="--sal-duration: 2s;">
				<h2 class="featurette-heading fw-bold lh-1">Nos Certifications</h2>
				<p class="lead">
				{{ certification.description ? certification.description : 'Acquérir des compétences professionnelles et de leadership spécialisées pour faire passer votre carrière au niveau supérieur avec un diplôme supérieur.' }}
				</p>
				<ul class="list-unstyled">
				{% if certification.specialities %}
					{% for speciality in certification.specialities %}
					<li>
						<h3><a class="text-decoration-none header-link" href="{{path('app_speciality', {'slug': speciality.slug})}}">{{speciality.label}}</a></h3>
					</li>
					{% endfor %}
					
				{% endif %}
			</div>
			<div class="col-md-5 col-lg-6 order-md-1" data-sal="slide-in" style="--sal-duration: 2s;">
				{% if certification.featuredImage %}
				<img src="{{asset('uploads/images/news/' ~ certification.featuredImage.filename)}}" class="img-fluid rounded"> <!-- center this image within the column -->
				{% endif %}
			</div>
		</div>
		{% endif %}
		
	</div>
		
</div>

{% endblock %}
