{% extends 'base.html.twig' %}

{% block title %}Nos spécialités de {% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'programmes academiques'}) }}

<div class="container">

	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    	<div class="col-10 col-sm-8 col-lg-6" data-sal="slide-left" style="--sal-duration: 2s;">
			{% if formation_cycle.featuredImage %}
			<img src="{{asset('uploads/images/news/' ~ formation_cycle.featuredImage.filename)}}" class="img-fluid rounded"> <!-- center this image within the column -->
			{% endif %}
    	</div>
    	<div class="col-lg-6" data-sal="slide-right" style="--sal-duration: 2s;">
			<h1 class="display-5 fw-bold lh-1 mb-3">No spécialités de {{formation_cycle.label}}</h1>
			<p class="lead">
				{{ formation_cycle.description ? formation_cycle.description : 'Acquérir des compétences professionnelles et de leadership spécialisées pour faire passer votre carrière au niveau supérieur avec un diplôme supérieur.' }}
			</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<a type="button" class="btn btn-lg specifical-bg-1 text-light rounded-pill shadow px-4 me-md-2">Postuler maintenant</a>
			</div>
    	</div>
    </div>

	<div class="py-5">
		{% for speciality in formation_cycle.specialities %}
		<div class="row featurette">
			<div class="col-md-7 order-md-2" data-sal="fade" style="--sal-duration: 2s;">
				<h2 class="featurette-heading fw-normal lh-1">{{speciality.label}}</h2>
				<p class="lead">
					{{ speciality.description ? formation_cycle.description : 'Acquérir des compétences professionnelles et de leadership spécialisées pour faire passer votre carrière au niveau supérieur avec un diplôme supérieur.' }}
				</p>
				<div class="list-unstyled mb-3">
				{% if speciality.targetedSkills %}
					{{speciality.targetedSkills|raw}}					
				{% endif %}
				</div>
				<a type="button" class="btn btn-lg specifical-bg-1 text-light rounded-pill shadow px-4 me-md-2">En savoir plus</a>
			</div>
			<div class="col-md-5 order-md-1" data-sal="fade" style="--sal-duration: 2s;">
				{% if speciality.featuredImage %}
				<img src="{{asset('uploads/images/news/' ~ speciality.featuredImage.filename)}}" class="img-fluid rounded"> <!-- center this image within the column -->
				{% endif %}
			</div>
		</div>	
		{% endfor %}
			
	</div>
</div>

{% endblock %}
