{% extends 'base.html.twig' %}

{% block title %}
Presentation
{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Programmes'}) }}

<div class="container">

    <div>
        <div class="">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
            
                    <h4 class="">
                        Curriculum / Courses
                    </h4>
                    <div class="">
                        <p>
                            Le parcours Informatique comporte des unités d'enseignements (UE) communes avec les autres parcours de la licence, ainsi que des UE d'Informatique spécifiques.
						</p>
						<p>
							La deuxième année marque l’entrée de l’étudiant dans la mention Informatique. Au cours de cette année, l’enseignement de l’informatique prend une place prédominante, complétée par des connaissances en mathématiques indispensables et les nécessaires compétences en communication. La réalisation d’un projet semestriel favorise la mise en oeuvre des connaissances acquises.
						</p>
						<p>
							En troisième année, des conepts informatiques plus avancé sont abordés . Au second semestre, l’étudiant peut personnaliser son parcours par un choix d’option. Un projet transversal semestriel capitalise sur les connaissances acquises, tout comme le stage de 3 mois qui conclut la licence.
                        </p>
                        
                    </div>
                </div>
                <div id="" class="col-lg-8 col-sm-12">
					<div class="CoursesFeed-posts_wrap">
						<div class=" mb-3 accordion accordion-flush" id="accordionBusiness">

						{% for semester in semesters %}

							<div class="accordion-item">
								<h2 class="mb-3 accordion-header" id="heading-{{semester.code}}">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12{{semester.code}}" aria-expanded="false" aria-controls="collapse12">
									{{semester.label}}
									</button>
								</h2>
								<div id="collapse12{{semester.code}}" class="accordion-collapse collapse" aria-labelledby="heading-{{semester.code}}" data-bs-parent="#accordionBusiness">
									<div class="accordion-body">
										<div class="accordion accordion-flush" id="accordionFlushExample">
										{% for ue in semester.ues %}
											
											<div class="accordion-item">
												<h2 class="accordion-header" id="flush-heading-{{ue.code}}">
													<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ue.code}}" aria-expanded="false" aria-controls="flush-collapseOne{{ue.code}}">
													{{ue.label}}
													</button>
												</h2>
												<div id="flush-collapseOne{{ue.code}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ue.code}}" data-bs-parent="#accordionFlushExample">
													<div class="accordion-body">
														<ul class="list-unstyled">
															{% for subject in ue.subjects %}
																<li>{{subject}}</li>
															{% endfor %}
														</ul>
													</div>
												</div>
											</div>

										{% endfor %}
										</div>
									</div>
								</div>
							</div>
							
						{% endfor %}
				
							{# </div> #}
						</div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
