{% extends 'base.html.twig' %}

{% set apropos = 'section-active' %}

{% block title %}A propos - Parcours informatique FST{% endblock %}

{% block meta %}
    <meta name="description" content="Le Parcours informatique de la FST de l'UMNG est accessibles pour tout étudiants ayant validé L1 d'un parcours scientifique ou équivalent!">
{% endblock %} 

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'A propos'}) }}

<div class="container">
    <h1 class="mt-5 text-center">A propos du parcours informatique</h1>
	<div class="content-devider mb-5" data-sal="slide-up" style="--sal-duration: 2s; --sal-delay: 0s;">
		<hr class="content-devider-line" style="max-width:100%;width:50px;">
	</div>
    <div class="row align-items-start">

        <ul class="col-lg-3 mb-sm-5 nav nav-tabs list-group rounded-0" id="myTab" role="tablist" >
            <li class="nav-item list-group-item active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                <span>Présentation</span>
            </li>
            <li class="nav-item list-group-item" id="chief-word-tab" data-bs-toggle="tab" data-bs-target="#chief-word-tab-pane" type="button" role="tab" aria-controls="chief-word-tab-pane" aria-selected="false">
                <span>Mot des responsables</span>
            </li>
			<li class="nav-item list-group-item" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                <span>Objectifs du parcours</span>
            </li>
            <li class="nav-item list-group-item" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                <span>Missions et valeurs</span>
            </li>
            <li class="nav-item list-group-item" id="skills-tab" data-bs-toggle="tab" data-bs-target="#skills-tab-pane" type="button" role="tab" aria-controls="skills-tab-pane" aria-selected="false">
                <span>Chiffres du parcours</span>
            </li>
            <li class="nav-item list-group-item" id="careers-tab" data-bs-toggle="tab" data-bs-target="#careers-tab-pane" type="button" role="tab" aria-controls="careers-tab-pane" aria-selected="false">
                <span>Partenaires</span>
            </li>
        </ul>

        <div class="col-lg-9 tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Présentation</h2>
        			<div class="text-subline mb-3"></div>
					<div class="my-3">
						<P>
							La création du Parcours d'Informatique s'inscrit dans le cadre de la formation des cadres, l’intégration,.Contribuer activement à développer le niveau de la société. <br>
							Adopter de nouvelles disciplines scientifiques qui suivent le progrès scientifique et technologique et répondent aux besoins de la société. <br>
							Créer des modèles de coopération entre l’Université et les autres composantes : économique, sociale et culturelle.
						</P>
					</div>
				</div>
            </div>
            <div class="tab-pane fade" id="chief-word-tab-pane" role="tabpanel" aria-labelledby="chief-word-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Mot des responsables</h2>
					<div class="text-subline mb-3"></div>
					<div class="row">
						<h3>Doyen de la faculté</h3>
						<div class="col-sm-12 col-md-6 col-lg-8 my-2" data-sal="slide-right" style="--sal-duration: 2s;">
							<div class="text-muted">
								<div class="">
									<p>Molestiae necessitatibus esse eius incidunt voluptates, quod ullam nam rem perferendis corrupti expedita sequi veritatis enim quam? Harum alias deleniti, aliquam ipsum omnis illo, animi neque vero possimus excepturi eligendi aut? Optio impedit molestias recusandae velit eaque fuga, rerum voluptatum repellendus deserunt cumque minima placeat consectetur doloremque reiciendis quam inventore sed harum similique quos dolorem corporis ipsam enim unde! Quae quidem at reprehenderit magni quasi iure animi?</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 my-3 me-0" data-sal="slide-left" style="--sal-duration: 2s;">
							<img src=" {{asset('img/m_regis.jpg')}} " alt="" class="img-fluid">   
						</div>
					</div>
					<div class="row">
						<h3>Responsable du parcours</h3>
						<div class="col-sm-12 col-md-6 col-lg-8 my-2" data-sal="slide-right" style="--sal-duration: 2s;">
							<div class="text-muted">
								<div class="">
									<p>Odio officia assumenda doloremque nostrum a laudantium! Ducimus officia impedit, accusamus doloribus magni earum id ipsa libero hic quia! Veritatis ex saepe a. Laborum ad architecto quod repellat facilis debitis. Non magni corrupti sunt esse, tenetur laboriosam fugit odit itaque sequi assumenda adipisci molestiae id porro? Nihil consequatur quisquam nam quos similique quis, perferendis alias fugit.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-4 my-3 me-0" data-sal="slide-left" style="--sal-duration: 2s;">
							<img src=" {{asset('img/m_regis.jpg')}} " alt="" class="img-fluid">   
						</div>
					</div>
				</div>
            </div>
			<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Objectifs du parcours</h2>
					<div class="text-subline mb-3"></div>
					<div class="my-3">
						<p>L’objectif du parcours de former des professionnels en Informatioque en adaquation avec les besoins des entreprises.</p>
						<p>
							le Parcours informatique offre un environnement d'études de qualité pour les étudiants souhaitant réussir dans 
							le domaine de l'informatique. Les formations dispensées sont conçues pour répondre aux besoins nationaux en matière 
							de formation de qualité, tout en développant les compétences et les connaissances des étudiants dans divers domaines. 
							Le département informatique est également engagé dans des actions de développement du pays et en collaboration avec 
							des partenaires pour offrir des opportunités d'expérience professionnelle et d'échange d'expertises.
						</p>

					</div>
				</div>
            </div>
            <div class="tab-pane fade border-0" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Missions et valeurs</h2>
					<div class="text-subline mb-3"></div>
					<div class="my-3">
						<p>
							Le parcoours offre un environnement d'études de qualité pour les étudiants souhaitant réussir dans 
							le domaine de l'informatique. Les formations dispensées visent à répondre aux besoins nationaux en matière de 
							formation de qualité et à développer les compétences des étudiants dans divers domaines.
						</p>
						<ul>
							<p>
								En effet, Nous avons pour missiion de développer les connaissances des étudiants, de promouvoir 
								l'innovation et à favoriser la création individuelle et collective. Ces objectifs sont essentiels pour 
								permettre aux étudiants de s'adapter aux évolutions du marché de l'emploi et de contribuer à la croissance 
								économique du pays.
							</p>
							<p>
								Nous visons également de participer aux actions de développement sous regional en soutenant les 
								différents secteurs de l'activité. De plus, il vise à préparer les étudiants à la création de projets et 
								d'entreprises économiques pour les aider à devenir des acteurs clés du développement économique du pays.
							</p>
							<p>
								le département informatique noue des liens de partenariat et de coopération avec des entreprises et 
								organismes pour échanger des expertises et réaliser des projets communs. Ces partenariats permettent aux 
								étudiants d'acquérir une expérience professionnelle pertinente et de se familiariser avec les priorités du 
								développement du pays.
							</p>
						</ul>
					</div>
				</div>
            </div>
            <div class="tab-pane fade" id="skills-tab-pane" role="tabpanel" aria-labelledby="skills-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Chiffres du parcours</h2>
					<div class="text-subline mb-3"></div>
					<div class="my-3">
						<p>
							L’informatique est une science dont les applications sont nombreuses. L’apprentissage des concepts fondamentaux va donc de pair avec leur mise en pratique:
						</p>
					</div>
				</div>
            </div>
            <div class="tab-pane fade border-0" id="careers-tab-pane" role="tabpanel" aria-labelledby="careers-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Partenaires</h2>
					<div class="text-subline mb-3"></div>
					<div class="">
							<div class="row">
								{% for partner in partners %}
								<div class="col-6 col-md-6 col-lg-4">
									<div class="card border-0 m-3 p-3 shadow-sm">
										<a href="{{partner.url}}" class="text-decoration-none text-dark">
											<img src="{{asset('uploads/images/partenaires/' ~ partner.logoName)}}" class="card-img-top" alt="{{'logo de ' ~ partner.label}}">
										</a>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>       
				</div>
            </div> 
        </div>
    </div>
    
</div>

{% endblock %}
