{% extends 'base.html.twig' %}

{% set parcours = 'section-active' %}

{% block title %}{{speciality.label}}{% endblock %}

{% block meta %}
    <meta name="description" content="Administration Réseau et système, administration BDD, Développement web et mobile, Sécurité informatique">
{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Speciality'}) }}

<div class="container">
	<div class="">
		{% if speciality.featuredImage %}
		<img src="{{asset('uploads/images/news/' ~ speciality.featuredImage.filename)}}" class="img-fluid rounded"> <!-- center this image within the column -->
		{% endif %}

		{% if speciality.description %}
		<div class="row">
			<h3>Description</h3>
			<div>
				{{speciality.description}}
			</div>
		</div>
		{% endif %}

		{% if speciality.goals %}
		<div class="row">
			<h3>Objectfs de la formation</h3>
			<div>{{speciality.goals |raw}}</div>
		</div>
		{% endif %}

		{% if speciality.targetedSkills %}
		<div class="row">
			<h3>Compétences visées</h3>
			<div>{{speciality.targetedSkills |raw}}</div>
		</div>
		{% endif %}

		
		<div class="">
			<h3>Programme</h3>
			<div>
				<div class="CoursesFeed-posts_wrap">
					<div class="mb-3 accordion accordion-flush" id="accordionBusiness">

					{% for semester in speciality.semesters %}

						<div class="accordion-item">
							<h2 class="mb-3 accordion-header" id="heading-{{semester.code}}">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12{{semester.code}}" aria-expanded="false" aria-controls="collapse12">
								{{semester.semesterType}}
								</button>
							</h2>
							<div id="collapse12{{semester.code}}" class="accordion-collapse collapse" aria-labelledby="heading-{{semester.code}}" data-bs-parent="#accordionBusiness">
								<div class="accordion-body">
									<div class="accordion accordion-flush" id="accordionFlushExample">
									{% for ue in semester.ues %}
										
										<div class="accordion-item">
											<h2 class="accordion-header" id="flush-heading-{{ue.code}}">
												<button class="ue-accordion accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ue.code}}" aria-expanded="false" aria-controls="flush-collapseOne{{ue.code}}">
												{{ue.label}} <span class="me-1 ms-auto badge text-bg-secondary">{{ue.credits}} crédits</span>
												</button>
											</h2>
											<div id="flush-collapseOne{{ue.code}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ue.code}}" data-bs-parent="#accordionFlushExample">
												<div class="accordion-body">
													<ul class="list-unstyled">
														{% for subject in ue.subjects %}
															<li class="d-flex">{{subject}}  <span class="me-0 ms-auto badge text-bg-secondary">{{subject.credits}} crédits</span></li>
														{% endfor %}
													</ul>
												</div>
											</div>
										</div>

									{% endfor %}
									</div>
								</div>
							</div>
						</div>
						
					{% endfor %}			
				</div>
			</div>
		</div>

		{% if speciality.careers %}
		<div class="">
			<h3>Carrières après formation</h3>
			<div>{{speciality.careers |raw}}</div>
		</div>
		{% endif %}
	
	</div>
</div>

{% endblock %}
