{% extends 'base.html.twig' %}

{% set parcours = 'section-active' %}

{% block title %}{{speciality.label}}{% endblock %}

{% block meta %}
    <meta name="description" content="Administration Réseau et système, administration BDD, Développement web et mobile, Sécurité informatique">
{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Speciality'}) }}

<div class="container">
    <h1 class="my-5">Parcours {{speciality.formationCycle}} {{speciality}}</h1>
    <div class="row align-items-start">

        <ul class="col-lg-4 mb-sm-5 nav nav-tabs list-group rounded-0" id="myTab" role="tablist" >
            <li class="nav-item list-group-item active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                <span>Description</span>
            </li>
            <li class="nav-item list-group-item" id="chief-word-tab" data-bs-toggle="tab" data-bs-target="#chief-word-tab-pane" type="button" role="tab" aria-controls="chief-word-tab-pane" aria-selected="false">
                <span>Objectifs du parcours</span>
            </li>
			<li class="nav-item list-group-item" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                <span>Compétences visées</span>
            </li>
            <li class="nav-item list-group-item" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                <span>Programmes</span>
            </li>
             <li class="nav-item list-group-item" id="skills-tab" data-bs-toggle="tab" data-bs-target="#skills-tab-pane" type="button" role="tab" aria-controls="skills-tab-pane" aria-selected="false">
                <span>Débouchés</span>
            </li>
            {# <li class="nav-item list-group-item" id="careers-tab" data-bs-toggle="tab" data-bs-target="#careers-tab-pane" type="button" role="tab" aria-controls="careers-tab-pane" aria-selected="false">
                <span>Partenaires</span>
            </li> #}
        </ul>

        <div class="col-lg-8 tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Description</h2>
        			<div class="text-subline mb-3"></div>
					<div class="my-3">
						{% if speciality.description %}
						<div>{{speciality.description}}</div>
						{% endif %}
					</div>
				</div>
            </div>
            <div class="tab-pane fade" id="chief-word-tab-pane" role="tabpanel" aria-labelledby="chief-word-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Objectifs du parcours</h2>
					<div class="text-subline mb-3"></div>
					<div class="my-3">
						{% if speciality.goals %}
						<div>{{speciality.goals |raw}}</div>
						{% endif %}
					</div>
				</div>
            </div>
			<div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Comptétences visées</h2>
					<div class="text-subline mb-3"></div>
					<div class="my-3">
						{% if speciality.targetedSkills %}
						<div>{{speciality.targetedSkills |raw}}</div>
						{% endif %}
					</div>
				</div>
            </div>
            <div class="tab-pane fade border-0" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Programme</h2>
					<div class="text-subline mb-3"></div>
					<div class="my-3">
						<div class="mb-3 accordion accordion-flush" id="accordionBusiness">

							{% for semester in speciality.semesters %}

								<div class="accordion-item">
									<h2 class="mb-3 accordion-header" id="heading-{{semester.code}}">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse12{{semester.code}}" aria-expanded="false" aria-controls="collapse12">
										{{semester.semesterType}}
										</button>
									</h2>
									<div id="collapse12{{semester.code}}" class="accordion-collapse collapse" aria-labelledby="heading-{{semester.code}}" data-bs-parent="#accordionBusiness">
										<div class="accordion-body">
											<div class="accordion accordion-flush" id="accordionFlushExample">
											{% for ue in semester.ues %}
												
												<div class="accordion-item">
													<h2 class="accordion-header" id="flush-heading-{{ue.code}}">
														<button class="ue-accordion accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne{{ue.code}}" aria-expanded="false" aria-controls="flush-collapseOne{{ue.code}}">
														{{ue.label}} <span class="me-1 ms-auto badge text-bg-secondary">{{ue.credits}} crédits</span>
														</button>
													</h2>
													<div id="flush-collapseOne{{ue.code}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ue.code}}" data-bs-parent="#accordionFlushExample">
														<div class="accordion-body">
															<ul class="list-unstyled">
																{% for subject in ue.subjects %}
																	<li class="d-flex">{{subject}}  <span class="me-0 ms-auto badge text-bg-secondary">{{subject.credits}} crédits</span></li>
																{% endfor %}
															</ul>
														</div>
													</div>
												</div>

											{% endfor %}
											</div>
										</div>
									</div>
								</div>
								
							{% endfor %}			
						</div>
					</div>
				</div>
            </div>
            
			<div class="tab-pane fade" id="skills-tab-pane" role="tabpanel" aria-labelledby="skills-tab" tabindex="0">
				<div class="tab-pane-content">
					<h2>Débouchés</h2>
					<div class="text-subline mb-3"></div>
					<div class="my-3">
						{% if speciality.careers %}
						<div>{{speciality.careers |raw}}</div>
						{% endif %}
					</div>
				</div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
