{% extends 'base.html.twig' %}

{% block title %}Presentation{% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Corps enseignant'}) }}

<div class="container">
    <div>
        <table id="teachers-list" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Noms et Prénoms</th>
                    <th>Diplômes et grade</th>
                    <th>Lieu d'obtention</th>
                    <th>Disciplines enseignées</th>
                    <th>Niveau d'intervention</th>
                </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}

                {% set levels = [] %}
                {% set subjects = [] %}

                {% for subject in teacher.teachedSubjects %}
                    {% set subjects = subjects|merge([subject]) %}
                    {% set levels = levels|merge([subject.level]) %}
                {% endfor %}

                <tr>
                    <td>{{teacher}}</td>
                    <td>{{teacher.diploma}}</td>
                    <td>{{teacher.placeOfacquisition}}</td>
                    <td>{{subjects | join(' ')}}</td>
                    <td>{{levels | join(' ')}}</td>
                        
                </tr>

            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
