{% extends 'base.html.twig' %}

{% block title %}Parcours Informatique - Enseignants, {{teacher}} {% endblock %}

{% block body %}

{{ include('parcours/_heading.html.twig',{'sub_link':'Corps enseignant'}) }}

<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn">
            <div class="card border-0 shadow">
                <img src="{{asset('uploads/images/avatars/' ~ teacher.avatarName)}}" class="img-fluid rounded-start" alt="..." height="170">
                <div class="card-body p-1-9 p-xl-5">
                    <div class="mb-4">
                        <h3 class="">{{ teacher.civility =='Monsieur' ? 'M. ' ~ teacher  : 'Mme. ' ~ teacher }}</h3>
                        <h5 class="">{{teacher.diploma}}</h5>
                    </div>
                    <div class="mb-4">
                        <h4>Disciplines enseigées</h4>
                        {# {% for subject in teacher.teachedSubjects %}
                        {{ dump(subject, subject.ue.semester, subject.ue.semester.speciality) }}  
                        {% endfor %} #}
                        <ul class="list-unstyled mb-4 p-0 border-0">
                        {% for subject in teacher.teachedSubjects %}
                            <li class="p-0 border-0">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">{{ subject }}</div>
                                    {{ subject.ue.semester.semesterType  }}, {{ subject.ue.semester.speciality.formationCycle }} {{ subject.ue.semester.speciality }}  
                                </div>

                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ps-lg-1-6 ps-xl-5">
                <div class="mb-5 wow fadeIn">
                {{teacher.description|raw}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
