  <br>
  <div class="container ">
    <div class="row gx-5">
                <div class="col">
                    <div class=" d-flex flex-row mb-3 justify-content-lg-start ">
                <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
                <img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0 " alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                </div>
                </div>

                <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
                <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                </div>
                </div>
                {# <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
                <img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                </div>
                </div> #}
            </div>
            <!-- card section 2 -->
            <div class=" d-flex flex-row mb-3 justify-content-lg-start">
                <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
                <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                </div>
                </div>
                {# <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
                <img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                </div>
                </div> #}
                <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
                <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                </div>
                </div>
            </div>
            <div class=" d-flex flex-row mb-3 justify-content-lg-start ">
                <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
                <img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0 " alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                </div>
                </div>

                <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
                <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                </div>
                </div>
                {# <div class="card ms-3 shadow-sm rounded-0 border border-0" style="width: 22rem;">
                <img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="#" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                </div>
                </div> #}
            </div>

        </div>
            <div class="col">
                <aside>
                    <div>
                        <h5>Recherche</h5>
                        <div class="text-subline"></div>
                        <div class="p-3">
                            <form action="" method="get">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="barre de recherche" aria-label="barre de recherche" aria-describedby="basic-addon2" width="100%">
                                    <span class="input-group-text btn specifical-bg-1" id="">
                                        <button class="btn specifical-bg-1" type="submit">
                                            <i class="fa-solid fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <h5>Archives</h5>
                        <div class="text-subline"></div>
                        <div class="p-3">
                            <div class="row gx-5">
                                <div class="col-6">
                                    <ul class="list-style-type-square">
                                        <li><a href="#" class="text-decoration-none text-muted">Nov 2019</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Dec 2019</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Jan 2020</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Fev 2020</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Sept 2020</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Oct 2020</a></li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                  <ul class="list-style-square">
                                        <li><a href="#" class="text-decoration-none text-muted">Nov 2020</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Dec 2020</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Jan 2021</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Fev 2021</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Mar 2021</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Avr 2021</a></li>
                                    </ul>
                                </div>
                                  
                            </div>
                        </div>
                    </div>    
                    <div>
                        <h5>Galery</h5>
                        <div class="text-subline"></div>
                        <div class="p-3">
                            
                        </div>
                    </div>    
                    <div>
                        <h5>Categories</h5>
                        <div class="text-subline"></div>
                        <div class="p-3">
                            <ul class="list-style-square">
                                        <li><a href="#" class="text-decoration-none text-muted">Actualités</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Evenements</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Examens</a></li>
                                        <li><a href="#" class="text-decoration-none text-muted">Resultats</a></li>
                                    </ul>
                        </div>
                    </div>    
                
                </aside>
            </div>
                   
        </div>
    </div>
    
   
  </div>