<br>
<div class="container">
    <div class="row gx-5">
        <div class="col-lg-8">
            <div class="row gy-5 mb-3 justify-content-lg-start">
                {% for article in articles %}
                    
                <div class="col-md-6 col-sm-12">
                    <div class="card ms-3 shadow-sm rounded-0 border border-0">
                        {% if article.featuredImage %}
                        <img src="{{asset('uploads/images/news/' ~ article.featuredImage.filename)}}" class="card-img-top rounded-0" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('app_news_show', {'slug': article.slug})}}" class="text-decoration-none item-title">{{article.title}}</a>
                            </h5>
                            <p class="card-text">{{article.content | u.truncate(100, '...', false)}}</p>
                            <p class="text-color-2">
                                <i class="fa-regular fa-calendar-days"></i><em> Du {{article.createdAt | date('d-m-Y')}}</em>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
            
        </div>

        <div class="col-lg-4">
            <aside>
                <div>
                    <h5>Recherche</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        {# <form action="" method="get">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="barre de recherche" aria-label="barre de recherche" aria-describedby="basic-addon2" width="100%">
                                <span class="input-group-text btn specifical-bg-1" id="">
                                    <button class="btn" type="submit">
                                        <i class="fa-solid fa-search text-white"></i>
                                    </button>
                                </span>
                            </div>
                        </form> #}

                         {{ form_start(form, {'action': path('app_news_result')}) }}
                            <div class="input-group mb-3">
                            {{ form_row(form.searchText, {'label':false, 'attr': {'class':'form-control', 'height':'100%'}}) }}
                    
                                    <button class="input-group-text btn specifical-bg-1" type="submit">
                                        <i class="fa-solid fa-search text-white"></i>
                                    </button>
                    
                             </div>
                            {{ form_end(form, {render_rest:false}) }}
                    </div>
                </div>

                <div>
                       
                {% include "news/_latest_news.html.twig" %}
                    
                <div>
                    <h5>Categories</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <ul class="list-style-square">
                        {% for category in categories %}
                            <li><a href="#" class="text-decoration-none text-muted"> {{category}} </a></li>
                        {% endfor %}
                        </ul>
                    </div>                  
                </div>    
                
            </aside>
        </div>
                   
    </div>
</div>
