<br>
<div class="container">
    <div class="row gx-5">
        <div class="col-lg-8">
            <div class="row gy-5 mb-3 justify-content-lg-start">
                {% for article in articles %}
                    
                <div class="col-md-6 col-sm-12">
                    <div class="card ms-3 shadow-sm rounded-0 border border-0">
                        {% if article.featuredImage %}
                        <img src="{{article.featuredImage.filename}}" class="card-img-top rounded-0" alt="...">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('app_news_show', {'slug': article.slug})}}" style="color: #b80924;" class="text-decoration-none">{{article.title}}</a>
                            </h5>
                            <p class="card-text">{{article.content | u.truncate(100, '...', false)}}</p>
                            <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
            
        </div>

        <div class="col-lg-4">
            <aside>
                <div>
                    <h5>Recherche</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <form action="" method="get">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="barre de recherche" aria-label="barre de recherche" aria-describedby="basic-addon2" width="100%">
                                <span class="input-group-text btn specifical-bg-1" id="">
                                    <button class="btn" type="submit">
                                        <a href="{{ path('app_news_search') }}"><i class="fa-solid fa-search text-white"></i></a>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                       
                {% include "news/_latest_news.html.twig" %}
                
                <div>
                    <h5>Galery</h5>
                    <div class="text-subline"></div>
                    <div class="p-2">
                        <div class="d-flex ">
                            <div class="hover-article"><a href="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class=""><img src="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                            <div class="hover-article"><a href="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class=""><img src="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                        </div>
                        <div class="d-flex ">
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                        </div>
                        <div class="d-flex ">
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                        </div>
                        <div class="d-flex ">
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                        </div>
                    </div>
                </div>    
                <div>
                    <h5>Categories</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <ul class="list-style-square">
                            <li><a href="#" class="text-decoration-none text-muted">Actualités</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Evenements</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Examens</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Resultats</a></li>
                        </ul>
                    </div>                  
                </div>    
                
            </aside>
        </div>
                   
    </div>
</div>
