<br>
<div class="container">
    <div class="row gx-5">
        <div class="col-lg-7">
            <div class="row gy-5 mb-3 justify-content-lg-start">

                <div class="col-md-6 col-sm-12">
                    <div class="card ms-3 shadow-sm rounded-0 border border-0">
                        <img src="{{asset('logos/1559392319600.jfif')}}" class="card-img-top rounded-0 " alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a>
                            </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="card ms-3 shadow-sm rounded-0 border border-0">
                        <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a>
                            </h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="card ms-3 shadow-sm rounded-0 border border-0">
                        <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="card ms-3 shadow-sm rounded-0 border border-0">
                        <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="card ms-3 shadow-sm rounded-0 border border-0">
                        <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="card ms-3 shadow-sm rounded-0 border border-0">
                        <img src="{{asset('img/colorful.png')}}" class="card-img-top rounded-0" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{path('app_news_show')}}" style="color: #b80924;" class="text-decoration-none">Card title</a></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <i class="fa-regular fa-calendar-days"></i><em> 3 days ago</em>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

        <div class="col-lg-5">
            <aside>
                <div>
                    <h5>Recherche</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <form action="" method="get">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="barre de recherche" aria-label="barre de recherche" aria-describedby="basic-addon2" width="100%">
                                <span class="input-group-text btn btn-color" id="">
                                    <button class="btn specifical-bg-1" type="submit">
                                        <i class="fa-solid fa-search text-white"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <h5>Informations recentes</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <div class="row gx-5">
                            <div class="col-12">
                                <h6><a href="" class="text-decoration-none color-text ">Lorem ipsum dolor sit.</a></h6>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta!</p>
                                <h6><a href="" class="text-decoration-none color-text">Lorem ipsum dolor sit.</a></h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas!</p> 
                                <h6><a href="" class="text-decoration-none color-text">Lorem ipsum dolor sit.</a></h6>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta!</p>
                                <h6><a href="" class="text-decoration-none color-text">Lorem ipsum dolor sit.</a></h6>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas!</p>
                            </div>
                        </div>
                    </div>
                </div>    
                <div>
                    <h5>Galery</h5>
                    <div class="text-subline"></div>
                    <div class="p-2">
                        <div class="d-flex ">
                            <div class="hover-article"><a href="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class=""><img src="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                            <div class="hover-article"><a href="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class=""><img src="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                        </div>
                        <div class="d-flex ">
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                        </div>
                        <div class="d-flex ">
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                        </div>
                        <div class="d-flex ">
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/sofware-developer-thinking-while-touching-beard-while-typing-on-laptop-sitting-at-desk-with-multiple-screens-parsing-code-focused-database-admin-working-with-team-coding-in-the-background.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                            <div class="hover-article"><a href="" class=""><img src="{{asset('img/closeup-portrait-of-black-african-american-man-working-on-computer-in-living-room-smiling-at-camera-remote-internet-online-web-manager-working-from-home-keeping-social-distance.jpg')}}" class="img-thumbnail" alt="..." ></a></div>
                        </div>
                    </div>
                </div>    
                <div>
                    <h5>Categories</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <ul class="list-style-square">
                            <li><a href="#" class="text-decoration-none text-muted">Actualités</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Evenements</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Examens</a></li>
                            <li><a href="#" class="text-decoration-none text-muted">Resultats</a></li>
                        </ul>
                    </div>                  
                </div>    
                
            </aside>
        </div>
                   
    </div>
</div>
