{% extends "base.html.twig" %}

{% block title %}
    {{article.title}}
{% endblock %}

{% block body %}

<div class="mb-4 specifical-bg-3 p-5">
    <h1 class="p-5 text-center text-white fs-1">Actualités</h1>
    <div class="text-center">
        <p class="text-light"><a href="{{path('app_home')}}" class="text-decoration-none text-white">Accueil</a> / <a href="" class="text-decoration-none text-white">Actualités</a> / <a href="" class="text-decoration-none text-muted">{{article.title}}</a></p>
    </div>
</div>

<div class="container ">
    <div class="row gx-5">
        <div class="col-md-12 col-lg-8">
            <div class="">
                <h2 class="text-bold">{{article.title}}</h2>
                <hr class="text-subline">
                <div class="">
                    <ul class="list-inline">
                        <li><i class="bi bi-clock-fill"></i><span class="">Publié le {{article.createdAt |date('d/m/Y')}} </span></li>
                        <li><i class="bi bi-person-fill"></i><span class=""> {{article.account.email}}</span></li>
                    </ul>
                </div>
                <div class="offset-top-30">
                    {% if article.featuredImage %}
                        <img src="{{asset('uploads/images/news/' ~ article.featuredImage.filename)}}" class="card-img-top rounded-0" alt="...">
                    {% endif %}
                    <div class="offset-top-30">
                        {{article.content}}
                    </div>
                </div>

                <div class="offset-top-30 row my-3">
                    <div class="col-sm-12 col-lg-6">
                        <div class="text-center">
                            <a class="btn btn-sm btn-outline-danger me-1" href="#">News</a>
                            <a class="btn btn-sm btn-outline-danger me-1 text-italic" href="#">Colleges</a>
                            <a class="btn btn-sm btn-outline-danger me-1 text-italic" href="#">Liberal Arts</a>
                            <a class="btn btn-sm btn-outline-danger me-1 text-italic" href="#">University</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="text-center">
                            <a class="me-2" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="me-2" href="#"><i class="bi bi-twitter"></i></a>
                            <a class="me-2" href="#"><i class="bi bi-google"></i></a>
                            <a class="me-2" href="#"><i class="bi bi-whatsapp"></i></a>
                        </div>
                    </div>
                </div>

                <div class="offset-top-50">
                    <h6 class="text-bold">Auteur</h6>
                    <div class="text-subline"></div>
                    <div class="py-2">
                        <div class="d-flex">
                            <div class="">
                                <img class="img-fluid rounded" src=" {{asset('img/africaines2.jpg')}} " alt="">
                            </div>
                            <div class="ms-3">
                                <h6 class="text-bold text-danger">Ronald Austin</h6>
                                <p>I am a professional blogger interested in everything taking place in cyberspace. I am running this website and try my best to make it a better place to visit. I post only the articles that are related to the topic and thoroughly analyze all visitors’ comments to cater to their needs better.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-4">
            <aside>
                <div>
                    <h5>Recherche</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        {# <form action="" method="get">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="barre de recherche" aria-label="barre de recherche" aria-describedby="basic-addon2" width="100%">
                                <span class="input-group-text btn specifical-bg-1" id="">
                                    <button class="btn specifical-bg-1" type="submit">
                                        <i class="fa-solid fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form> #}

                         {{ form_start(form, {'action': path('app_news_result')}) }}
                            <div class="input-group mb-3">
                            {{ form_row(form.searchText, {'label':false, 'attr': {'class':'form-control', 'height':'100%'}}) }}
                    
                                    <button class="input-group-text btn specifical-bg-3" type="submit">
                                        <i class="fa-solid fa-search text-white"></i>
                                    </button>
                    
                             </div>
                            {{ form_end(form, {render_rest:false}) }}

                    </div>
                </div>

                {% include "news/_latest_news.html.twig" %}
    
                <div>
                    <h5>Categories</h5>
                    <div class="text-subline"></div>
                    <div class="p-3">
                        <ul class="list-style-square">
                        {% for category in categories %}
                            <li><a href="#" class="text-decoration-none text-muted"> {{category}} </a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>    
            
            </aside>
        </div>
                   
        </div>
    </div>
</div>
{% endblock %}