<div class="container">
    <div class="row-sm d-md-flex flex-lg-row gx-5 ">
        <div class="me-4 col-sm-12 col-lg-6">
            {{ form_start(form) }}    
                <div class="col-md-12 mt-2">
                    {{ form_row(form.email, {'attr':{'class':'form-control mb-3'}}) }}
                </div>
                
                <div class="">
                    {{ form_row(form.object, {'attr':{'class':'form-control mb-3'}}) }}

                    
                    {{ form_row(form.content) }}
                </div>
                <button class="btn specifical-bg-1 text-light" type="submit">
                    Envoyez
                </button>
            {{ form_end(form) }}
        </div>
        {# <hr class="vr ms-3"></hr> #}
        <div class="col-sm-12 col-lg-6">
             <aside class="px-3">
                <h5>Socials</h5>
                <hr class="featurette-divider">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item"><a href="#" class="text-decoration-none text-dark"><i class="fa-brands fa-facebook rounded"></i></a></li>
                    <li class="list-group-item"><a href="#" class="text-decoration-none text-dark"><i class="fa-brands fa-youtube"></i></i></a></li>
                    <li class="list-group-item"><a href="#" class="text-decoration-none text-dark"><i class="fa-brands fa-google"></i></i></a></li>
                    <li class="list-group-item"><a href="#" class="text-decoration-none text-dark"><i class="fa-brands fa-instagram"></i></i></a></li>
                </ul>
                <h5 class="mt-1">Téléphone</h5>
                <hr class="featurette-divider">
                <ul class="list-unstyled">
                    <li><a href="tel:+242066108900"  class="text-decoration-none text-dark"><i class="fa-solid fa-phone"></i> +242 06 610 89 00</a></li>
                    <li><a href="tel:+242066108900"  class="text-decoration-none text-dark"><i class="fa-solid fa-phone"></i> +242 05 543 33 34</a></li> 
                </ul>
                <h5>Email</h5>
                <hr class="featurette-divider">
                <ul class="list-unstyled gy-1">
                    <li><a href="mailto:fst.informatique@umng.cg"  class="text-decoration-none text-dark"><i class="fa-solid fa-message"></i> fst.informatique@umng.cg</a></li>
                </ul>
                <h5>Adresse</h5>
                <hr class="featurette-divider">
                <ul class="list-unstyled gy-1">
                    <li><a href="https://goo.gl/maps/LJSRrRj6kZ32smLTA" target="_blank"  class="text-decoration-none text-dark"><i class="fa-solid fa-location"></i> Fst UMNG Brazzaville</a></li>
                </ul>
                <h5>Heures d'ouvertures</h5>
                <hr class="featurette-divider">
                <ul class="list-unstyled gy-1">
                    <li><a href="" class="text-decoration-none text-dark"><i class="fa-solid fa-calendar-days"></i> ven 11:00 am à 14:30 pm</a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>