<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title> Parcours Informatique - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{asset('favicon/logo_fst_32x32.jpg')}}" type="image/x-icon">
        <link rel="shortcut icon" href="{{asset('favicon/logo_fst_16x16.jpg')}}" type="image/x-icon">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
    </head>
    <body>
        {% block header %}
          {{ include('header.html.twig') }}
        {% endblock %}

        {% block body %}
           
        {% endblock %}
        
        {% block footer %}
            {{ include('footer.html.twig') }}           
        {% endblock %}
    </body>
</html>
