
<header  class="container py-2">
    <div class="d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-flex align-items-center" href="{{path('app_home')}}">
            <img src="{{ asset('logos/2014-05-20.jpg') }}" alt="logo Faculté des Sciences et Techniques" class="" height="60"/>
            <h5 class="fs-5 fw-normal mx-2 my-0 lh-1 d-none d-lg-block text-color-2">FACULTE DES SCIENCES <br> ET TECHNIQUES</h5>
            <h5 class="ms-4 fs-5 text-color-2">Parcours <br> Informatique</h5>
        </a>
        <li class="d-flex align-items-center ms-3">
            {# <i class="fa-solid fa-magnifying-glass"></i> #}
            {{ render(controller(
                'App\\Controller\\HomeController::search'
            )) }}

            {# <a class="navbar-brand " href="{{path('app_login')}}">
                <span class="btn mx-2 text-end ">Connexion</span>            
            </a> #}
        </li>
    </div>
</header>
<nav class="navbar navbar-expand-lg specifical-bg-3-testimonial py-0">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex flex-wrap justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                    <li class="">
                        <a href="{{path('app_parcours_presentation')}}" 
                            class="nav-link {{ apropos|default('normal') }} px-2 py-3 text-white"
                        >
                            A propos
                        </a>
                    </li>
                    <li class="nav-item dropdown" id="myDropdown">
                        <a id="coursesMenu" href="{{path('app_specialities_list')}}" 
                            class="nav-link {{ parcours|default('normal') }} px-2 py-3 text-white dropdown-toggle" 
                            data-bs-toggle="dropdown"
                        >
                            Parcours
                        </a>
                        <ul class="dropdown-menu border-0 rounded-0">
                            <li>
                                <a class="dropdown-item" href="{{path('app_formation_cycle', {'slug': 'licence'})}}">Licence</a>
                                <ul id="licenceItems" class="submenu dropdown-menu border-0 rounded-0"></ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{path('app_formation_cycle', {'slug': 'master'})}}">Master</a>
                                <ul id="masterItems" class="submenu dropdown-menu"></ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{path('app_formation_cycle', {'slug': 'doctorat'})}}">Doctorat</a>
                                <ul id="doctoratItems" class="submenu dropdown-menu"></ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{path('app_admission')}}" 
                            class="nav-link {{ admission|default('normal') }} px-2 py-3 text-white"
                        >
                            Admission
                        </a>
                    </li>
                    <li class="action">
                        <a href="{{ path('app_pre_registration_index') }}"
                            class="nav-link {{ preinscription|default('normal') }} px-2  py-3 text-white"
                        >
                            Préinscription
                        </a>
                    </li>
                    <li>
                        <a href="{{path('app_parcours_teachers')}}" 
                            class="nav-link {{ enseignants|default('normal') }} px-2  py-3 text-white"
                        >
                            Enseignants
                        </a>
                    </li>
                    <li class="action">
                        <a href="{{path('app_alumni')}}"
                            class="nav-link {{ alumni|default('normal') }} px-2  py-3 text-white"
                        >
                        Alumni
                        </a>
                    </li>
                    <li>
                        <a class="nav-link {{ actualites|default('normal') }} px-2  py-3 text-white"
                            href="{{ path('app_news') }}"
                        >
                        Actualités
                        </a>
                    </li>
                    <li class="action">
                        <a href="{{ path('app_contact') }}"
                            class="nav-link {{ contact|default('normal') }} px-2  py-3 text-white"
                        >
                        Contact
                        </a>
                    </li>
                    {# <li class="dropdown">
                        <a class="nav-link px-2 py-3"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <form class="m-0 col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 dropdown-menu" role="search">
                            <input type="search"
                                class="form-control dropdown-item py-0 my-0"
                                placeholder="Rechercher..."
                                aria-label="Search" />
                        </form>

                    </li> #}
                </ul>
        </div>
    </div>
</nav>