<div class="container">
    <div class="d-flex flex-wrap justify-content-center py-3 mb-2">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="{{ asset('img/logo large Parcours Informatique.png') }}"
                alt="Parcours_informatique"
                class=""
                height="70" />
        </a>
        <ul class="nav">
            <li>
                <a href="{{ path('app_home') }}"
                    class="nav-link px-2 header-link py-3">
                Accueil
                </a>
            </li>
            <li>
                <a href="{{ path('app_news') }}"
                    class="nav-link px-2 header-link py-3">
                Actualités
                </a>
            </li>
            <li class="dropdown">
                <a class="nav-link px-2 dropdown-toggle header-link py-3"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                Parcours
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item"
                            href=" {{ path('app_parcours_presentation') }} ">
                        Présentation
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item"
                            href=" {{ path('app_parcours_chief_word') }}">
                        Mot du responsable
                        </a>
                    </li>
                    <li><a class="dropdown-item" href="{{path('app_parcours_admission')}}">Admissions</a></li>
                    <li><a class="dropdown-item" href="{{path('app_parcours_programs')}}">Programmes</a></li>
                    <li>
                        <a class="dropdown-item"
                            href="{{ path('app_parcours_teachers') }}">
                        Corps enseignant
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"
                    class="nav-link px-2 header-link py-3">
                Alumni
                </a>
            </li>
            <li>
                <a href="{{ path('app_contact') }}"
                    class="nav-link px-2 header-link py-3">
                Contacts
                </a>
            </li>
            <li class="dropdown">
                <a class="nav-link px-2 header-link py-3"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <form class="m-0 col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 dropdown-menu" role="search">
                    <input type="search"
                        class="form-control dropdown-item py-0 my-0"
                        placeholder="Rechercher..."
                        aria-label="Search" />
                </form>

            </li>
        </ul>
    </div>
</div>
