<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="{{ asset('logos/2014-05-20.jpg') }}" alt="Logo du site" class="" height="70"/>
            <span class="text-color-2 fs-4 fw-bold ms-2">Parcours <br> Informatique</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex flex-wrap justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                    <li class="dropdown">
                        <a class="nav-link px-2 dropdown-toggle header-link py-3"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        A propos
                        </a>
                        <ul class="dropdown-menu border-0">
                            <li>
                                <a class="dropdown-item header-link"
                                    href=" {{ path('app_parcours_presentation') }} ">
                                Présentation
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item header-link"
                                    href=" {{ path('app_parcours_chief_word') }}">
                                Mot du responsable
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item header-link"
                                    href="{{ path('app_news') }}">
                                Actualités
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="coursesMenu" href="{{path('app_specialities_list')}}" style="display:none"></a>
                        <a class="nav-link dropdown-toggle px-2 header-link py-3" href="{{path('app_formation_cycles')}}" data-bs-toggle="dropdown">
                            Parcours
                        </a>
                        <div class="dropdown-menu dropdown-large border-0">
                            <div class="row">
                                <div class="col-lg-3 mb-md-3">
                                    <h5 class="title fw-bold"><a href="{{path('app_formation_cycle', {'slug': 'doctorat'})}}" class="text-dark text-decoration-none">Doctorat</a></h5>
                                    <ul id="doctoratItems" class="list-unstyled"></ul>
                                </div>
                                <div class="col-lg-3 mb-md-3">
                                    <h5 class="title fw-bold"><a href="{{path('app_formation_cycle', {'slug': 'master'})}}" class="text-dark text-decoration-none">Master</a></h5>
                                    <ul id="masterItems" class="list-unstyled"></ul>
                                </div>
                                <div class="col-lg-3 mb-md-3">
                                    <h5 class="title fw-bold"><a href="{{path('app_formation_cycle', {'slug': 'licence'})}}" class="text-dark text-decoration-none">Licence</a></h5>
                                    <ul id="licenceItems" class="list-unstyled"></ul>
                                </div>
                                <div class="col-lg-3 mb-md-3">
                                    <h5 class="title fw-bold"><a href="{{path('app_formation_cycle', {'slug': 'certification'})}}" class="text-dark text-decoration-none">Certifications</a></h5>
                                    <ul id="doctoratItems" class="list-unstyled"></ul>
                                </div>
                            </div><!-- end row -->
                        </div> <!-- dropdown-large.// -->
                    </li>
                    <li>
                        <a href="{{path('app_admission')}}" class="nav-link px-2 header-link py-3">
                            Admission
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_pre_registration_new') }}"
                            class="nav-link px-2 header-link py-3">
                        Préinscription
                        </a>
                    </li>
                    <li>
                        <a href="{{path('app_parcours_teachers')}}" class="nav-link px-2 header-link py-3">
                            Enseignants
                        </a>
                    </li>
                    <li>
                        <a href="{{path('app_alumni')}}"
                            class="nav-link px-2 header-link py-3">
                        Alumni
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_contact') }}"
                            class="nav-link px-2 header-link py-3">
                        Contact
                        </a>
                    </li>
                    {# <li class="dropdown">
                        <a class="nav-link px-2 py-3"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <form class="m-0 col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 dropdown-menu" role="search">
                            <input type="search"
                                class="form-control dropdown-item py-0 my-0"
                                placeholder="Rechercher..."
                                aria-label="Search" />
                        </form>

                    </li> #}
                </ul>
        </div>
    </div>
</nav>

