<header  class="container py-2">
    <div class="d-flex justify-content-between align-items-center">

        <a class="navbar-brand d-flex align-items-center" href=" {{path('app_home')}} ">
            <img src="{{ asset('logos/2014-05-20.jpg') }}" alt="Facultés des Sciences et Techniques" class="" height="60"/>
            <span class="text-color-2 fs-6 fw-bold mx-2 d-none d-md-block">Facultés des Sciences <br> et Techniques</span>
        </a>
        <span class="fs-5 fw-bold">Parcours Informatique</span>
        <a class="navbar-brand d-flex align-items-center" href="#">
            <span class="text-color-2 fs-6 fw-bold mx-2 text-end d-none d-md-block"> UNIVERSITE<br> MARIEN NGOUABI</span>
            <img src="{{ asset('logos/Umng.jpg') }}" alt="Université Marien Ngouabi" class="" height="60"/>
            
        </a>
    </div>
</header>
<nav class="navbar navbar-expand-lg specifical-bg-3-testimonial">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex flex-wrap justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                    <li class="dropdown">
                        <a class="nav-link px-2 dropdown-toggle  py-3 text-white"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        A PROPOS
                        </a>
                        <ul class="dropdown-menu border-0">
                            <li>
                                <a class="dropdown-item header-link "
                                    href=" {{ path('app_parcours_presentation') }} ">
                                PRESENTATION
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item header-link"
                                    href=" {{ path('app_parcours_chief_word') }}">
                                MOT DES RESPONSABLES
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown text-white">
                        <a id="coursesMenu" href="{{path('app_specialities_list')}}" style="display:none"></a>
                        <a class="nav-link dropdown-toggle px-2 py-3 text-white" href="{{path('app_formation_cycles')}}" data-bs-toggle="dropdown">
                            PARCOURS
                        </a>
                        <div class="dropdown-menu dropdown-large border-0">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-3 mb-md-3">
                                        <h5 class="title fw-200"><a href="{{path('app_formation_cycle', {'slug': 'doctorat'})}}" class="text-dark text-decoration-none">Doctorat</a></h5>
                                        <ul id="doctoratItems" class="list-unstyled"></ul>
                                    </div>
                                    <div class="col-lg-3 mb-md-3">
                                        <h5 class="title fw-200"><a href="{{path('app_formation_cycle', {'slug': 'master'})}}" class="text-dark text-decoration-none">Master</a></h5>
                                        <ul id="masterItems" class="list-unstyled"></ul>
                                    </div>
                                    <div class="col-lg-3 mb-md-3">
                                        <h5 class="title fw-200"><a href="{{path('app_formation_cycle', {'slug': 'licence'})}}" class="text-dark text-decoration-none">Licence</a></h5>
                                        <ul id="licenceItems" class="list-unstyled"></ul>
                                    </div>
                                    <div class="col-lg-3 mb-md-3">
                                        <h5 class="title fw-200"><a href="{{path('app_formation_cycle', {'slug': 'certification'})}}" class="text-dark text-decoration-none">Certifications</a></h5>
                                        <ul id="doctoratItems" class="list-unstyled"></ul>
                                    </div>
                                </div><!-- end row -->
                            </div>
                        </div> <!-- dropdown-large.// -->
                    </li>
                    <li>
                        <a href="{{path('app_admission')}}" class="nav-link px-2 py-3 text-white">
                            ADMISSION
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_pre_registration_index') }}"
                            class="nav-link px-2  py-3 text-white">
                            PREINSCRIPTION
                        </a>
                    </li>
                    <li>
                        <a href="{{path('app_parcours_teachers')}}" class="nav-link px-2  py-3 text-white">
                            ENSEIGNANTS
                        </a>
                    </li>
                    <li>
                        <a href="{{path('app_alumni')}}"
                            class="nav-link px-2  py-3 text-white">
                        ALUMNI
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-2  py-3 text-white"
                            href="{{ path('app_news') }}">
                        ACTUALITES
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_contact') }}"
                            class="nav-link px-2  py-3 text-white">
                        CONTACT
                        </a>
                    </li>
                    {# <li class="dropdown">
                        <a class="nav-link px-2 py-3"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <form class="m-0 col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 dropdown-menu" role="search">
                            <input type="search"
                                class="form-control dropdown-item py-0 my-0"
                                placeholder="Rechercher..."
                                aria-label="Search" />
                        </form>

                    </li> #}
                </ul>
        </div>
    </div>
</nav>

