
<header  class="container py-2">
    <div class="d-flex justify-content-between align-items-center">
        <a class="navbar-brand d-flex align-items-center" href=" {{path('app_home')}} ">
            <img src="{{ asset('logos/2014-05-20.jpg') }}" alt="logo Facultés des Sciences et Techniques" class="" height="60"/>
            <span class="fs-6 fw-bold mx-2 d-none d-md-block">Facultés des Sciences <br> et Techniques</span>
        </a>
        <span class="fs-4 fw-bold">PARCOURS INFORMATIQUE</span>
        <a class="navbar-brand d-flex align-items-center" href="#">
            <span class="fs-6 fw-bold mx-2 text-end d-none d-md-block"> UNIVERSITE<br> MARIEN NGOUABI</span>
            <img src="{{ asset('logos/Umng.jpg') }}" alt="logo Université Marien Ngouabi" class="" height="60"/>
            
        </a>
    </div>
</header>
<nav class="navbar navbar-expand-lg specifical-bg-3-testimonial py-0">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex flex-wrap justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                    <li class="">
                        <a href="{{path('app_parcours_presentation')}}" class="nav-link px-2 py-3 text-white">
                            A PROPOS
                        </a>
                    </li>
                    <li class="nav-item dropdown" id="myDropdown">
                        <a id="coursesMenu" href="{{path('app_specialities_list')}}" class="nav-link px-2 py-3 text-white dropdown-toggle" href="#" data-bs-toggle="dropdown">PARCOURS</a>
                        <ul class="dropdown-menu border-0 rounded-0">
                            <li>
                                <a class="dropdown-item" href="{{path('app_formation_cycle', {'slug': 'licence'})}}">Licence</a>
                                <ul id="licenceItems" class="submenu dropdown-menu border-0 rounded-0"></ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{path('app_formation_cycle', {'slug': 'master'})}}">Master</a>
                                <ul id="masterItems" class="submenu dropdown-menu"></ul>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{path('app_formation_cycle', {'slug': 'doctorat'})}}">Doctorat</a>
                                <ul id="doctoratItems" class="submenu dropdown-menu"></ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{path('app_admission')}}" class="nav-link px-2 py-3 text-white">
                            ADMISSION
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_pre_registration_index') }}"
                            class="nav-link px-2  py-3 text-white">
                            PREINSCRIPTION
                        </a>
                    </li>
                    <li>
                        <a href="{{path('app_parcours_teachers')}}" class="nav-link px-2  py-3 text-white">
                            ENSEIGNANTS
                        </a>
                    </li>
                    <li>
                        <a href="{{path('app_alumni')}}"
                            class="nav-link px-2  py-3 text-white">
                        ALUMNI
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-2  py-3 text-white"
                            href="{{ path('app_news') }}">
                        ACTUALITES
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_contact') }}"
                            class="nav-link px-2  py-3 text-white">
                        CONTACT
                        </a>
                    </li>
                    {# <li class="dropdown">
                        <a class="nav-link px-2 py-3"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </a>
                        <form class="m-0 col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 dropdown-menu" role="search">
                            <input type="search"
                                class="form-control dropdown-item py-0 my-0"
                                placeholder="Rechercher..."
                                aria-label="Search" />
                        </form>

                    </li> #}
                </ul>
        </div>
    </div>
</nav>

<script >
    /*const currentLocation = Location.href;
    const menuItem = document.querySelectorAll('ul li');
    const menuLength = menuItem.length;
    $(document).on('click', 'ul li', function(){
        $(this).addClass('active').siblings().removeClass('active');
    })
    for(let i = 0; i < menuLength; i++){
        if (menuItem[i].href === currentLocation){
            menuItem[i].className == "active";
        }
     }*//*
     const list = document.querySelectorAll('ul li');
     console.log(list[2].baseURI);
     switch (list){
        case "http://127.0.0.1:8000/parcours/presentation" : 
            console.log("présentation")
            break;
        case "http://127.0.0.1:8000/specialites/licence" : 
            console.log("parcours")
            break;
        case "http://127.0.0.1:8000/admission" : 
            console.log("admission")
            break;
        case "http://127.0.0.1:8000/pre/registration/" : 
            console.log("pre-inscription")
            break;
        case "http://127.0.0.1:8000/parcours/enseignants" : 
            console.log("Teachers")
            break;
        case "http://127.0.0.1:8000/alumni" : 
            console.log("alumni")
            break;
        case "http://127.0.0.1:8000/contact" : 
            console.log("contact")
            break;
     }*/

    
  </script>